{% extends "base.html" %}
{% block title %}My on-call duties{% endblock %}
{% block content %}
<h1>My on-call duties</h1>
{% include "_module_intro.html" %}
<table class="admin-table"><thead><tr><th>Roster</th><th>Month</th><th>Date</th><th>Shift</th></tr></thead>
<tbody>{% for d in duties %}
<tr><td>{{ labels.get(d.roster_type, d.roster_type) }}</td><td>{{ d.year_month }}</td><td>{{ d.roster_date }}</td><td>{{ d.shift_type|replace('_',' ') }}</td></tr>
{% else %}<tr><td colspan="4" class="muted">No published duties assigned to you.</td></tr>{% endfor %}</tbody></table>
{% endblock %}
